@import '../../variables.scss';

#header{
    position: fixed;
    width: 100%;
    z-index: 10;

    .content{
        bottom: 0px;
        width: 100%;
        background-color: $deep-blue-bkg;
    }

    #logo:hover{
        opacity: .9;
    }

    #dropdown-menu{
        right: 12px;
        top: 12px;
    }

    .btn#contact-button{
        color: $light-tipografy;
        border: 3px solid $light-tipografy;

        &:hover{
            background-color: #FEFEFE0F;
        }
    }

    .nav-list li{
        margin: 0 24px;
        
        a{
            font-weight: 500;
            color: $light-tipografy;
            text-decoration: none;
            
            &:hover{
                opacity: .8;
                padding: 4px 0;
                border-bottom: 2px solid $light-tipografy;
            }
        }
    }
}